.buttons{
 display: flex;
 justify-content:space-between;
 width: 70vw;
}


.buttons>div{
    border: solid black 1px;
    flex-basis:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 600;
    background-color: rgba(211, 211, 211, 0.5);
    cursor: pointer;
    font-size: 1rem;
}

.active{
background-color: grey !important;
color: white;
}


input {
    min-width: 180px;
    border-radius: 5px;
    height: 20px;
    margin-top: 5px;
  }

  @media (max-width: 580px) {
    .buttons>div{
        border: solid black 1px;
        flex-basis:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.5rem;
        font-weight:bold;
        background-color: rgba(211, 211, 211, 0.5);
        cursor: pointer;
        font-size: 0.7rem;
        padding: 5px;
        align-items: center;
    }

    input {
        height: 0.7rem;
        border-radius: 5px;
        font: 0.8rem;
      }
      }